* {
    box-sizing: border-box;
}
body{
   background-color:rgb(229, 244, 8); 
   font-family: Arial, Tahoma;
}
.page_head,
.page_description{
    text-align: center;
}
.page-head{
    font-size: 40px;
    margin: 20px 0 0;
}
.page-description{
    font-size: 22px;
    margin: 10px 0 40px;
}


  