html, body {
    height: 100%;
  }

body {
        background-image: linear-gradient(120deg, #fdfbfb 0%, #d7d7d7 100%);
}

h1 {
    font-family: "Asap", sans-serif;
    text-align: center;
    font-size: 40px !important;
    transform: translateY(40px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Table Design */
.report-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    text-align: center;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 35%;
}

/* Styling the header */
.report-table thead tr {
    /* background-color: #9c1039; */
    background-color: #00a877;
    color: #ffffff;
    text-align: center;
}

tr:hover {
    /* background-color: #ffbaba75; */
    /* background-color: #a7ffa3a1; */
    background-color: #a7ffa370;
  }

.report-table th,
.report-table td {
    padding: 12px 15px;
}

.report-table th {
    font-size: 17px;
    cursor: pointer;
}


/* Styling Table Rows */
.report-table tbody tr {
    border-bottom: 1px solid #dddddd; 
}

.report-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.report-table tbody tr:hover:nth-of-type(even) {
    /* background-color: #ffbaba75; */
    /* background-color: #a7ffa3a1; */
    background-color: #a7ffa370;
  }

.report-table tbody tr:last-of-type {
    /* border-bottom: 2px solid #9c1039; */
    border-bottom: 2px solid #00a877;
}

.export-button-div {
    position: fixed;
    bottom: 85px;
    width: 100%;
    text-align: center;
}

.export-button {
    font-family: "Asap", sans-serif;
    padding: 15px 50px;
    font-size: 22px;
    border-radius: 15px;
    box-shadow: 0 5px #0a0a0a;
    transition: all 0.5s;
    cursor: pointer;
}

