{% extends 'base.html' %}
{% block body %} 
<fieldset class="my-fieldset">
    <legend class="progress-group-legend">Videos Progress</legend>
    <div class="progress">
        <span data-width=50>
            <span class="progress-tile">
                <span class="progress-icon">
                    <div class="progress_role" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="--value: 0"></div>
                </span>
            </span>
            <span class="progress-label">Speed</span>
        </span>
    </div> 

    <div class="progress">
        <span data-width=50>
            <span class="progress-tile">
                <span class="progress-icon">
                    <div class="progress_role" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="--value: 0"></div>
                </span>
            </span>
            <span class="progress-label">Power</span>
        </span>
    </div>

    <div class="progress">
        <span data-width=50>
            <span class="progress-tile">
                <span class="progress-icon">
                    <div class="progress_role" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="--value: 0"></div>
                </span>
            </span>
            <span class="progress-label">Shoot</span>
        </span>
    </div>

    <div class="progress">
        <span data-width=50>
            <span class="progress-tile">
                <span class="progress-icon">
                    <div class="progress_role" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="--value: 0"></div>
                </span>
            </span>
            <span class="progress-label">Dribble</span>
        </span>
    </div>

    <div class="progress">
        <span data-width=50>
            <span class="progress-tile">
                <span class="progress-icon">
                    <div class="progress_role" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="--value: 0"></div>
                </span>
            </span>
            <span class="progress-label">Agility</span>
        </span>
    </div>

    <div class="progress">
        <span data-width=50>
            <span class="progress-tile">
                <span class="progress-icon">
                    <div class="progress_role" role="progressbar" aria-valuenow="67" aria-valuemin="0" aria-valuemax="100" style="--value: 0"></div>
                </span>
            </span>
            <span class="progress-label">Pass</span>
        </span>
    </div>
</fieldset>

<button disabled class="button-next" id="next-button" onclick="window.location.href='result'">Next</button>
<!-- <input disabled class="button-next" name="next" value="Next"> -->

{% endblock %}
